<div id="hero">
  <div id="content">
    <h1>
      NgDatasheet
    </h1>

    <span>
      Simple, lightweight datasheet component for Angular2.
    </span><br/><br/>
    <a class="github-button" href="https://github.com/buoyad/ngDatasheet" data-icon="octicon-star" data-style="mega" data-count-href="/buoyad/ngDatasheet/stargazers" data-count-api="/repos/buoyad/ngDatasheet#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star buoyad/ngDatasheet on GitHub">Star</a>
  </div>
</div>

<main>
  <h3>Simple mode</h3>

  <p>
    NgDatasheet allows you to plug-and-play a 2-D array and display it in a rich, interactive datasheet.
    Inline editing, selection, and keyboard navigation are supported.
  </p>

  <!--<button type="button" (click)="log()" label="Log data">Log data</button>
  <button type="button" (click)="dt.clearSelection()">Clear selection</button>-->
  <div class="demo" style="width: 500px">
    <ng-datasheet #dt [(data)]="data">
    </ng-datasheet>
  </div>

  <h3>Configuration options</h3>

  <p>
    Configuration options are passed in through the data property. Setting the readOnly property results in the following:
  </p>

  <div class="demo" style="width:300px">
    <ng-datasheet [(data)]="dataReadOnly"></ng-datasheet>
  </div>

  <h3>Coming soon</h3>
  <ul>
    <li>0.5.0 (Released!)
      <ul>
        <li>
          <pre>readOnly</pre> property will re-format specified cells and disable editing.
        </li>
      </ul>
    </li>
    <li>More coming soon...</li>
  </ul>

  <p>
    Have a feature request? <a href="https://github.com/buoyad/ngDatasheet/issues" target="_blank">Submit it!</a>
  </p>

</main>