<div id="hero">
  <div id="content">
    <h1>
      NgDatasheet
    </h1>

    <span>
      Simple, lightweight datasheet component for Angular2.
    </span><br/><br/>
    <a class="github-button" href="https://github.com/buoyad/ngDatasheet" data-icon="octicon-star" data-style="mega" data-count-href="/buoyad/ngDatasheet/stargazers" data-count-api="/repos/buoyad/ngDatasheet#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star buoyad/ngDatasheet on GitHub">Star</a>
  </div>
</div>

<main>
  <h3>Simple mode</h3>

  <p>
    NgDatasheet allows you to plug-and-play a 2-D array and display it in a rich, interactive datasheet.
    Inline editing, selection, and keyboard navigation are supported.
  </p>

  <!--<button type="button" (click)="log()" label="Log data">Log data</button>
  <button type="button" (click)="dt.clearSelection()">Clear selection</button>-->
  <div class="demo" style="width: 500px">
    <ng-datasheet #dt [(data)]="data">
    </ng-datasheet>
  </div>

</main>